/* Import Roboto from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Apply to whole document */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  border-bottom: 3px solid #FFA947;
}

h2 {
  border-bottom: 2px solid #FFA947;
}

h3 {
  border-bottom: 1px solid #FFA947;
}

.sidebar-chapter a {
  color: black;
}

.sidebar-chapter a:hover {
  color: black;
  font-weight: bold;
  border-right: 3px solid #5DD880;
}

.sidebar-book a{
  color: black;
  padding-left: 6px;
  display: block;
  width: 100%;
}

.sidebar-book a:hover {
  color: black;
  font-weight: bold;
  border-left: 3px solid #5DD880;
  padding-left: 3px;
  display: block;
  width: 100%;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.warning-box {
  background: #ffe5e5;
  border-left: 5px solid red;
  padding: 1rem;
}

.center-img {
  text-align: center;
  font-style: italic;
  color: #828282;
}